APP_SECURITY_MODE=INSECURE

POSTGRES_DB=tfm_lab
POSTGRES_USER=tfm_user
POSTGRES_PASSWORD=tfm_password

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/tfm_lab
SPRING_DATASOURCE_USERNAME=tfm_user
SPRING_DATASOURCE_PASSWORD=tfm_password

SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/tfm_lab

JWT_SECRET=change-this-secret-only-for-local-lab

APP_CORS_ALLOWED_ORIGINS=http://localhost:8080
VUE_APP_API_BASE_URL=http://localhost:8081/api
